<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">

<header class="header">
  <nav class="navbar container">
    <a  class="brand" href="">Pocket Prose</a>
    <form role="search" method="get" action="">
      <div class="input-container">
        <input type="search" class="search-input" value="" name="s" placeholder="Search by Title, Author, or Genre" />
        <button type="submit" class="search-submit" name="submit"><i class="material-icons">search</i></button>
      </div><!-- input-container -->
    </form><!-- searchform -->
  </nav>
</header>
